<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
  <app-sidenav></app-sidenav>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <!-- Navbar -->
  <app-navbar></app-navbar>
  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-7 mt-4">
        <app-category (categoryNumber)="reciveCategory($event)"></app-category>
      </div>
      <div class="col-md-5 mt-4">
        <app-category-productlist [categoryFromProductComponent]="fromCategoryComponent"></app-category-productlist>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 mt-4">
        <app-product-list></app-product-list>
      </div>
      <div class="col-md-5 mt-4">
       <app-product-addform></app-product-addform>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  <!--content-->
</main>
<app-plugin></app-plugin>
